<dx-popup title="تغییر کلمه عبور" *ngIf="showWindow" width="370" height="400" (close)="closeWindowChangePass()">
  <form #form="ngForm" mcbForm (do)="onChangePassClick()">
    <app-row>
      <app-column col_md="12">
        <app-form-control labelKey="currentPassword" [errorMessage]="errorTypeCurrent">
          <dx-text-box class="inputText" name="currentPassword" [mode]="showCurrentPass ? 'text' : 'password'"
                       [(ngModel)]="changePassModel.currentPassword" required
                       (input)="validityInput($event.target.value , 'current')" minlength="4" [pattern]="regexEng"
                       (focusout)="resetForm()" mcbAutoFocus>
          </dx-text-box>
          <span class="input-group-text" (click)="toggleEye('currentPass')">
            <i class="icon fa" [ngClass]="{'fa-eye-slash': !showCurrentPass,'fa-eye showPass': showCurrentPass}"></i>
          </span>
        </app-form-control>
      </app-column>
    </app-row>
    <app-row>
      <app-column col_md="12">
        <app-form-control labelKey="newPassword" [errorMessage]="errorTypeNew">
          <dx-text-box #newPassEl class="inputText" name="newPassword" [mode]="showNewPass ? 'text' : 'password'"
                       [(ngModel)]="changePassModel.newPassword" required
                       (input)="validityInput($event.target.value ,'new')" minlength="4" [pattern]="regexEng">
          </dx-text-box>
          <span class="input-group-text" (click)="toggleEye('newPass')">
            <i class="icon fa" [ngClass]="{'fa-eye-slash': !showNewPass,'fa-eye showPass': showNewPass}"></i>
          </span>
        </app-form-control>
      </app-column>
    </app-row>
    <app-row>
      <app-column col_md="12">
        <app-form-control labelKey="confirmPassword" [errorMessage]="errorTypeConfirm">
          <dx-text-box class="inputText" name="confirmPassword" [mode]="showConfirmPass ? 'text' : 'password'"
                       [(ngModel)]="changePassModel.confirmPassword" required
                       (input)="validityInput($event.target.value , 'confirm')" [disabled]="!newPassEl.value"
                       [pattern]="regexEng">
          </dx-text-box>
          <span class="input-group-text" (click)="toggleEye('confirmPass')">
            <i class="icon fa" [ngClass]="{'fa-eye-slash': !showConfirmPass,'fa-eye showPass': showConfirmPass}"></i>
          </span>
        </app-form-control>
      </app-column>
    </app-row>
    <br>
    <dx-button  type="submit" icon="save green" [disabled]="form.invalid">
      {{ "save" | translator }}
    </dx-button>
    <dx-button  icon="close red" type="button" class="mr-2" (click)="closeWindowChangePass()">{{'return' |
      translator}}</dx-button>
  </form>
</dx-popup>
<div class="k-overlay" *ngIf="showWindow"></div>
