<h3 class="login-title">ورود به سامانه</h3>
<div style="width: 60%; margin: auto;">
  <form mcbForm (do)="onFormSubmit()" autocomplete="off" #form="ngForm">
    <label class="userName login-form-control">
      <i class="fa fa-user login-user-icon"></i>
      <dx-text-box [placeholder]="'userName'| translator" name="username" [(ngModel)]="signingModel.username"
                   [required]="true" maxlength="20" pattern="[^\u0600-\u06FF]+$"></dx-text-box>
    </label>
    <div *ngIf="form.controls['username'] && form.controls['username'].invalid &&
            (form.controls['username'].dirty ||
            form.controls['username'].touched)">
      <div style="color: red;" *ngIf="form.controls['username'].errors.required">
        {{'required_userName' | translator}}
      </div>
      <div style="color: red;" *ngIf="form.controls['username'].errors.pattern">
        {{'invalid_userName' | translator}}
      </div>
    </div>
    <label class="password login-form-control mt-3">
      <i class="fa fa-key login-user-icon"></i>
      <dx-text-box [placeholder]="'password'| translator" type="password" name="password" maxlength="20"
                   [(ngModel)]="signingModel.password" [required]="true" pattern="[^\u0600-\u06FF]+$"></dx-text-box>
    </label>
    <div *ngIf="form.controls['username'] && form.controls['password'].invalid &&
    (form.controls['password'].dirty ||
    form.controls['password'].touched)">
      <div style="color: red;" *ngIf="form.controls['password'].errors.required">
        {{'required_password' | translator}}
      </div>
      <div style="color: red;" *ngIf="form.controls['password'].errors.pattern">
        {{'invalid_password' | translator}}
      </div>
    </div>

    <!-- <mcb-captcha class="" [image]="captcha" (reloadClick)="reloadCaptcha()"></mcb-captcha> -->
    <div class="captcha d-flex mt-3">
      <label class="login-form-control ml-2">
        <dx-text-box [placeholder]="'captcha'| translator" name="captcha" [(ngModel)]="signingModel.captcha"
                     [required]="true" [minlength]="1" maxlength="6"></dx-text-box>
      </label>
      <img [src]="captcha | mcbImage" alt="کد امنیتی" />
    </div>

    <!-- <a style="color: #5e5b5b;cursor: pointer;" class="ml-3 fas fa-lock"></a>
    <span style="color: #5e5b5b; font-weight: 500; cursor: pointer;"
    routerLink="req-change-password">{{'forgotPassword'| translator}}</span> -->

    <i class="fas fa-redo reloadCaptcha" (click)="reloadCaptcha()" title="تغییر کد امنیتی"></i>
    <dx-button type="submit" class="login-btn w-100 mt-3" [disabled]="form.invalid">ورود</dx-button>
  </form>
</div>
